<nav class="nav has-shadow">
  <div class="container">
    <div class="nav-left">
      <a class="nav-item">
        <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma logo">
      </a>
      <a href="/" class="nav-item is-tab is-hidden-mobile <%=menu == 'home' ? 'is-active': ''%>">Home</a>
      <a href="/about" class="nav-item is-tab is-hidden-mobile <%=menu == 'about' ? 'is-active': ''%>">About</a>
    </div>
    <span class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <div class="nav-right nav-menu">
      <a href="/" class="nav-item is-tab is-hidden-tablet <%=menu == 'home' ? 'is-active': ''%>">Home</a>
      <a href="/about" class="nav-item is-tab is-hidden-tablet <%=menu == 'about' ? 'is-active': ''%>">About</a>
      <a class="nav-item is-tab">
        <figure class="image is-16x16" style="margin-right: 8px;">
          <img src="http://bulma.io/images/jgthms.png">
        </figure>
        Profile
      </a>
      <% if (user) { %>
      <a href="/user/dashboard" class="nav-item is-tab <%=menu == 'dashboard' ? 'is-active': ''%>">Dashboard</a>
      <a href="/user/logout" class="nav-item is-tab">Log out</a>
      <% } else { %>
      <a href="/user/login" class="nav-item is-tab <%=menu == 'login' ? 'is-active': ''%>">Login</a>
      <a href="/user/register" class="nav-item is-tab <%=menu == 'register' ? 'is-active': ''%>">Register</a>
      <% } %>
    </div>
  </div>
</nav>